* {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    height: 100vh;
}

/* Map takes 60% width */
#map {
    width: 60%;
}

/* Editor takes 40% width */
#text {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #f3f3f3;
}

#geojsontext {
    flex: 1;
    margin-bottom: 10px;
    padding: 10px;
}

button {
    padding: 10px;
}
